$showColor: rgba(0, 0, 0, .08);

.v5-collapse-box {
    background: #fff;

    header {
        display: flex;
        line-height: vw(84);
        margin: 0 0 0 vw(15);
        align-items: center;
        color: #333;
        transition: border .3s ease-in-out;
        border-bottom: 1px solid rgba(0, 0, 0, 0);

        h3 {
            flex: 1;
            text-align: left;
            font-size: vw(36);
            font-weight: 400;
        }

        i {
            transition: transform .3s ease-in-out;
            
            &.v5-icon {
                font-size: vw(32);
                margin: vw(5) vw(10) vw(5) 0;
            }
            &.down {
                margin-right: vw(15);
                font-size: vw(42);
                color: #ccc;
            }
        }
        &.open {
            border-bottom-color: $showColor;
            i.down {
                transform: rotateZ(180deg);
            }
        }
    }

    .v5-collapse-inner {
        overflow: hidden;
        border-bottom: 1px solid $showColor;
        box-sizing: border-box;
        transition: height .3s ease-in-out;
    }
}