$showColor: rgba(0, 0, 0, .08);

.v5-collapse-box {
    background: #fff;

    header {
        display: flex;
        min-height: 42px;
        margin: 0 0 0 10px;
        align-items: center;
        color: #333;
        transition: border .3s ease-in-out;
        border-bottom: 1px solid rgba(0, 0, 0, 0);

        i {
            transition: transform .3s ease-in-out;
            
            &.v5-icon {
                font-size: 18px;
                margin-right: 5px;
            }
            &.down {
                margin-right: 5px;
                font-size: 26px;
                color: #ccc;
            }
        }
        &.open {
            border-bottom-color: $showColor;

            i.down {
                transform: rotateZ(180deg);
            }
        }
    }

    .v5-collapse-inner {
        overflow: hidden;
        box-sizing: border-box;
        border-bottom: 1px solid $showColor;
        transition: height .3s ease-in-out;
    }
}

.v5-collapse-title {
    flex: 1;
    
    span {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2em;
    }
}