@font-face {
    font-family: 'tq-v5';  /* project id 886927 */
    src: url('//at.alicdn.com/t/font_886927_kxey1nxy84.eot');
    src: url('//at.alicdn.com/t/font_886927_kxey1nxy84.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_886927_kxey1nxy84.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_886927_kxey1nxy84.woff') format('woff'),
    url('//at.alicdn.com/t/font_886927_kxey1nxy84.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_886927_kxey1nxy84.svg#tq-v5') format('svg');
  }

$icons: 
    save '\e612',
    error '\e611',
    code '\e610',
    battery '\e60f',
    battery-charging '\e60e',
    check '\e60d',
    right '\e60c',
    up '\e60a',
    left '\e609',
    component '\e814',
    form '\e60b',
    down '\e608',
    apple '\e607',
    ios-cog '\e7a7',
    spinner3 '\e606',
    qrcode '\e605',
    spinner2 '\e603',
    android '\e601',
    zoom-in '\e615',
    youtube '\e614',
    zap '\e613',
    delete '\e617',
    search '\e630'
    ;

.v5-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    font-size: 16px;
    font-family: 'tq-v5' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::before {
        color: inherit;
    }
}

@each $icon in $icons {
    $key: nth($icon, 1);
    $val: nth($icon, 2);

    .v5-icon.#{$key}::before {
        content: $val
    }
}
