.v5-input-mod {
    display: flex;
    vertical-align: middle;
    align-items: center;
    background: #fff;
    .v5-input-inner:focus {
        outline: none;
        border-color: #409eff;
    }
    .v5-input-inner {
        border: none;
        box-sizing: border-box;
        display: inline-block;
        line-height: 3.5;
        outline: none;
        padding-left: 6px;
        width: 100%;
    }
    .clear {
        display: none;
        text-align: center;
        font-size: 12px;
        color: #A3A5A8;
        padding: 0 4px;
    }
    .v5-input-inner::-ms-clear {
        display: none;
    }
    .v5-input-inner:valid + .clear {
        display: inline;
    }
    .icon-left {
        text-align: center;
        padding-left: 4px;
    }
    .icon-right {
        text-align: center;
        color: #A3A5A8;
        padding: 0 4px;
    }

}