.v5-input{
    .v5-input-inner:focus {
        outline: none;
        border-color: #409eff;
    }
    .v5-input-inner {
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        outline: none;
        padding: 0 15px;
        transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    }
    .clear {
        display: none;
        position: absolute;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin: 0 0 0 -40px;
        font-size: 16px;
        color: #A3A5A8;
    }
    .v5-input-inner::-ms-clear {
        display: none;
    }
    .v5-input-inner:valid + .clear {
        display: inline;
    }

}