@mixin transform($x, $y) {
    &.show {
        .v5-layer-inner {
            transform: translate($x, $y);
        }
    }
}

.v5-layer-mod {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: background .4s ease-out;

    .v5-layer-inner {
        
        transition: 
            transform .4s ease-out,
            background .4s ease-out;
    }
    &.top {
        transition: visibility .4s ease-out;

        .v5-layer-inner {
            transform: translateY(-100%);
        }
        @include transform(0, 0)
    }
    &.bottom {
        transition: visibility .4s ease-out;

        .v5-layer-inner {
            transform: translateY(100%);
        }
        @include transform(0, 0)
    }

    &.right {
        transition: visibility .4s ease-out;

        .v5-layer-inner {
            transform: translateX(100%);
        }
        @include transform(0, 0)
    }
    &.left {
        transition: visibility .4s ease-out;

        .v5-layer-inner {
            transform: translateX(-100%);
        }
        @include transform(0, 0)
    }

    &.show {
        visibility: visible;
        background: rgba(0, 0, 0, .5);

        @supports (backdrop-filter: blur(5px)) {
            background: rgba(0, 0, 0, .3);
            backdrop-filter: blur(10px);
        }
    }
}