.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
*.zip
*example
*doc
*build
*node_modules

# yarn
yarn-debug.log*
yarn-error.log*


# npm
npm-debug.log*
