@keyframes ani-circle {
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes v5-marquee {
    to {
        transform: translate(-100%, 0)
    }
}

.v5-fade-enter-active, .v5-fade-leave-active {
    transition: opacity .5s;
}
.v5-fade-enter, .v5-fade-leave-to {
    opacity: 0;
}