@keyframes ani-circle {
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes v5-marquee {
    to {
        transform: translate(-100%, 0)
    }
}

.fade-in-enter-active {
    animation: v5-fade-in .4s;
}
.fade-in-leave-active {
    animation: v5-fade-out .4s;
}

@keyframes v5-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes v5-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}